<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">{{title}} Information</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
				<div class="form-group">
						<label >Chassis ID: {{data.chassisid}}</label>
				</div>
				<div class="form-group">
						<label >ESN : {{data.engineserialno}}</label>
				</div>
				<div class="form-group">
						<label >Engine Family : {{data.enginefamilyname}}</label>
				</div>
				<div class="form-group">
						<label >Model Year : {{data.eniginemodelyear}}</label>
				</div>
				<div class="form-group">
						<label >Breakdown of Engine Configuration : {{data.breakdownengineconfiguration}}</label>
				</div>
				<div class="form-group">
						<label >HP Rating : {{data.hprating}}</label>
				</div>

				<div class="form-group">
						
				</div>

				<div class="form-group">
						<label >Truck Model : {{data.truckmodel}}</label>
				</div>

				<div class="form-group">
						<label >Current Software Level : {{data.currentsoftwarelevel}}</label>
				</div>
				<div class="form-group">
						<label >Last Software Level : {{data.lastsoftwarelevel}}</label>
				</div>
				<div class="form-group">
						<label >Transmission  Configuration: {{data.transmissionconfiguration}}</label>
				</div>
				<div class="form-group">
						<label >Mileage : {{data.currentmileage}}</label>
				</div>
				<div class="form-group">
						<label >After Treatment Software Level : {{data.aftertreatmentsoftwarelevel}}</label>
				</div>
				<div class="form-group">
						<label>Rear Axle Ratio : {{data.rearaxleratio}}</label>
				</div>
		</div>
	
	
	</div>