<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">{{title}} Information</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
				<div class="form-group">
						<label >Claim ID: {{data.claimid}}</label>
				</div>
				<div class="form-group">
						<label >Dealer Story : {{data.dealerstory}}</label>
				</div>
				<div class="form-group">
						<label >Pro Part : {{data.propart}}</label>
				</div>
				<div class="form-group">
						<label >Pro Amount : {{data.proamount}}</label>
				</div>
				<div class="form-group">
						<label >Compaign ID : {{data.compaignid}}</label>
				</div>
				<div class="form-group">
						<label >Bullet Link : {{data.bulletlink}}</label>
				</div>

				<div class="form-group">
						<label> Part No : {{data.partno}} </label>
				</div>

				<div class="form-group">
						<label >Part Desc : {{data.partdesc}}</label>
				</div>

				<div class="form-group">
						<label >Part Mat : {{data.partmat}}</label>
				</div>
				<div class="form-group">
						<label >Part Source : {{data.partsource}}</label>
				</div>
				<div class="form-group">
						<label >Part ATY: {{data.partaty}}</label>
				</div>
				<!-- <div class="form-group">
						<label >Mileage : {{data.currentmileage}}</label>
				</div>
				<div class="form-group">
						<label >After Treatment Software Level : {{data.aftertreatmentsoftwarelevel}}</label>
				</div>
				<div class="form-group">
						<label>Rear Axle Ratio : {{data.rearaxleratio}}</label>
				</div> -->
		</div>
	
	
	</div>

	<script>
	console.log("{{results}}");
	
	</script>