<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">CEP Data</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
				<div class="form-group">
						<label >Chassis ID: {{data.Chassis}}</label>
				</div>
				<div class="form-group">
						<label >Current Mileage : {{data.currentmileage}}</label>
				</div>
				<div class="form-group">
						<label >Transmission Configuration : {{data.transmissionconfiguration}}</label>
				</div>
				<div class="form-group">
						<label >Application : {{data.application}}</label>
				</div>
				<div class="form-group">
						<label >After Treatment Softwate Level : {{data.aftertreatmentsoftwarelevel}}</label>
				</div>
				<div class="form-group">
						<label >Rear Axle Ratio : {{data.rearaxleration}}</label>
				</div>

				<!-- <div class="form-group">
						
				</div>

				<div class="form-group">
						<label >Truck Model : {{data.Truck_Model}}</label>
				</div>

				<div class="form-group">
						<label >Current Software Level : {{data.Current_Software_Level}}</label>
				</div>
				<div class="form-group">
						<label >Last Software Level : {{data.Last_Software_Level}}</label>
				</div>
				<div class="form-group">
						<label >Transmission  Configuration: {{data.plantdata.Transmission_Configuration}}</label>
				</div>
				<div class="form-group">
						<label >Mileage : {{data.plantdata.Mileage}}</label>
				</div>
				<div class="form-group">
						<label >After Treatment Software Level : {{data.plantdata.After_Treatment_Softwate_Level}}</label>
				</div>
				<div class="form-group">
						<label>Rear Axle Ratio : {{data.plantdata.Rear_Axle_Ratio}}</label>
				</div> -->
		</div>
	
	
	</div>
	<script>
	console.log("{{data}}");
	
	</script>