<!-- Fault Model start -->
<div class="modal-content">
	<!-- Model header start -->
    <div class="modal-header">
		<!-- Model title -->
        <h5 class="modal-title" id="exampleModalLabel">Fault Data</h5>
		<!-- Model close button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
	<!-- Model header end -->
    </div>
	<!-- Model body start -->
    <div class="modal-body">
		<!-- Display Fault Data -->
        <div class="form-group">
            <label>Chassis ID: {{data.Chassis}}</label>
        </div>
        <div class="form-group">
            <label>ESN : {{data.ESN}}</label>
        </div>
        <div class="form-group">
            <label>Engine Family : {{data.Engine_Family}}</label>
        </div>
        <div class="form-group">
            <label>Model Year : {{data.Model_Year}}</label>
        </div>
        <div class="form-group">
            <label>Breakdown of Engine Configuration : {{data.BOEC}}</label>
        </div>
        <div class="form-group">
            <label>HP Rating : {{data.HP_Rating}}</label>
        </div>
        <div class="form-group">
            <label>Truck Model : {{data.Truck_Model}}</label>
        </div>
        <div class="form-group">
            <label>Current Software Level : {{data.Current_Software_Level}}</label>
        </div>
        <div class="form-group">
            <label>Last Software Level : {{data.Last_Software_Level}}</label>
        </div>
        <div class="form-group">
            <label>Transmission Configuration: {{data.plantdata.Transmission_Configuration}}</label>
        </div>
        <div class="form-group">
            <label>Mileage : {{data.plantdata.Mileage}}</label>
        </div>
        <div class="form-group">
            <label>After Treatment Software Level : {{data.plantdata.After_Treatment_Softwate_Level}}</label>
        </div>
        <div class="form-group">
            <label>Rear Axle Ratio : {{data.plantdata.Rear_Axle_Ratio}}</label>
        </div>
	<!-- Model body end -->
    </div>
    <!-- Fault Model end -->
</div>
