<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Plant Data</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
				<div class="form-group">
						<label >Chassis ID: {{data.chassisid}}</label>
				</div>
				<div class="form-group">
					<label >Transmission  Configuration: {{data.transmissionconfiguration}}</label>
				</div>
				<div class="form-group">
						
				</div>
				<div class="form-group">
						<label >Application : {{data.application}}</label>
				</div>
				<div class="form-group">
						<label >Mileage : {{data.currentmileage}}</label>
				</div>
				<div class="form-group">
						<label >After Treatment Software Level : {{data.aftertreatmentsoftwarelevel}}</label>
				</div>
				<div class="form-group">
						<label>Rear Axle Ratio : {{data.rearaxleration}}</label>
				</div>
		</div>
	</div>
	