{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>PACCAR Solutions - {% block title %}{{ request.path_info | slugify }}{% comment %}{{ request.build_absolute_uri }}{% endcomment %}{% endblock %}</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>

.card-header a{
  font-size: 1rem;
  color: black;
  font-weight: normal;
}
.card-header .fa {
  transition: .3s transform ease-in-out;
  color: black;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}

#vinfo {
  font-size: 14px;
}
</style>
</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-blue static-top">

    <a class="navbar-brand mr-1" href="/dashboard"> 
      <!--<img src="{% static 'img/logo1.png' %}"></div>-->
      
        <div class="text-center">
          <h2 style="font-style: italic;color: white;text-shadow: 2px 2px 4px darkblue;font-size: 18px;">
            Paccar Technical Center
          </h2>
          
        </div>
    </a>
    <div class="d-inline text-center" style="margin-left:30%">
        <small style="font-style: italic;color: white;text-shadow: 2px 2px 4px darkblue;font-size: 24px;">
            Chassis History
        </small>
        
      </div>
    <!--<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>-->

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span style="color: white;">{{ user.first_name }} {{ user.last_name }}</span> <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <!--<a class="dropdown-item" href="/dashboard">Settings</a>-->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav" id="mainNav">

      <li class="nav-item active">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-3">
                  <!--<div class="card-header" data-toggle="collapse" href="#vinfo" aria-expanded="false" aria-controls="vinfo">
                    Vehicle Information <i class="fa fa-chevron-down pull-right"></i>
                  </div>-->
                  <h5 class="card-header">
                   <a data-toggle="collapse" href="#vinfo" aria-expanded="true" aria-controls="vinfo" id="heading-vinfo" class="d-block">
                      <i class="fa fa-truck"></i>
                      Vehicle Information <i class="fa fa-chevron-left pull-right"></i><i class="fa fa-chevron-left pull-right"></i>
                   </a>
                  </h5>
                  <div id="vinfo" class="collapse show" aria-labelledby="heading-vinfo">  
                      <div class="card-body">
                      <div class="form-group">
                          <label >Chassis ID: {{data.Chassis}}</label>
                      </div>
                      <div class="form-group">
                          <label >ESN : {{data.ESN}}</label>
                      </div>
                      <div class="form-group">
                          <label >Engine Family : {{data.Engine_Family}}</label>
                      </div>
                      <div class="form-group">
                          <label >Model Year : {{data.Model_Year}}</label>
                      </div>
                      <div class="form-group">
                          <label >Breakdown of Engine Configuration : {{data.BOEC}}</label>
                      </div>
                      <div class="form-group">
                          <label >HP Rating : {{data.HP_Rating}}</label>
                      </div>
                      <div class="form-group">
                          <label >Truck Model : {{data.Truck_Model}}</label>
                      </div>
          
                      <div class="form-group">
                          <label >Current Software Level : {{data.Current_Software_Level}}</label>
                      </div>
                      <div class="form-group">
                          <label >Last Software Level : {{data.Last_Software_Level}}</label>
                      </div>
                      <div class="form-group">
                          <label >Transmission  Configuration: {{data.plantdata.Transmission_Configuration}}</label>
                      </div>
                      <div class="form-group">
                          <label >Mileage : {{data.plantdata.Mileage}}</label>
                      </div>
                      <div class="form-group">
                          <label >After Treatment Software Level : {{data.plantdata.After_Treatment_Softwate_Level}}</label>
                      </div>
                      <div class="form-group">
                          <label>Rear Axle Ratio : {{data.plantdata.Rear_Axle_Ratio}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </li>
    </ul>

	<div id="content-wrapper">

      <div class="container-fluid">

	

		{% block content %}
			Body Content
		{% endblock %}

	  
	</div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer" style="border-top: dotted 1px orange;color: gray;">
        <div class="container" style="margin-top:2%;">
          <div class="copyright text-center my-auto font-weight-bold">
            <span>Copyright © Paccar Technical Center {% now 'Y' %}</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  
  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin.min.js' %}"></script>

  <!-- Common.js-->
  <script src="{% static 'js/common.js' %}"></script>

  <script>
      $('#vinfo').on('hidden.bs.collapse', function () {
        // do something…
        console.log('call');
      })
      $('#vinfo').on('shown.bs.collapse', function () {
        // do something…
        console.log('call2');
      })
  </script>
</body>

</html>
