{% load static %}
<!DOCTYPE html>
<!-- HTML start -->
<html lang="en">
<!-- Head start -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PACCAR Solutions - {% block title %}{{ request.path_info | slugify }}{% comment %}{{
        request.build_absolute_uri }}{% endcomment %}{% endblock %}</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- Head end -->
</head>

<!-- Body start -->
<body id="page-top">

<!-- navbar start -->
<nav class="navbar navbar-expand navbar-dark bg-blue static-top">
    <!-- Left Side header -->
    <a class="navbar-brand mr-1" href="/dashboard">
        <!--<img src="{% static 'img/logo1.png' %}"></div>-->
        <div class="text-center">
            <h2 class="main_heading"> Paccar Technical Center</h2>
        </div>
    </a>
    <!-- Middle header -->
    <div class="d-inline text-center margin_left30">
        <small class="center_heading">Chassis History</small>
    </div>
    <!--<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>-->

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></form>
    <!-- Navbar -->

    <!-- navbar drop down start -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class="color_white">{{ user.first_name }} {{ user.last_name }}</span> <i
                    class="fas fa-user-circle fa-fw"></i>
            </a>
            <!-- Dropdown menu start -->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <!--<a class="dropdown-item" href="/dashboard">Settings</a>-->
                <a class="dropdown-item" href="/logout">Logout</a>
            <!-- Dropdown menu end -->
            </div>
        </li>
    <!-- navbar drop down end -->
    </ul>
<!-- navbar end -->
</nav>

<!-- wrapper start -->
<div id="wrapper">
    <!-- Sidebar start -->
    <ul class="sidebar navbar-nav" id="mainNav">
        <li class="nav-item active">
            <!-- row start -->
            <div class="row">
                <!-- col-lg-12 start -->
                <div class="col-lg-12">
                    <!-- card start -->
                    <div class="card mb-3">
                        <!--<div class="card-header" data-toggle="collapse" href="#vinfo" aria-expanded="false" aria-controls="vinfo">
                          Vehicle Information <i class="fa fa-chevron-down pull-right"></i>
                        </div>-->
                        <!-- Sidebar heading start -->
                        <h5 class="card-header">
                            <a data-toggle="collapse" href="#vinfo" aria-expanded="true" aria-controls="vinfo"
                               id="sidebarToggle" class="d-block">
                                <img src="{% static 'img/front-truck.png' %}" class="height20">
                                <span id="text-vehc">Vehicle Information</span>&nbsp;<i
                                    class="fa fa-chevron-left pull-right"></i><i
                                    class="fa fa-chevron-left pull-right"></i>
                            </a>
                        <!-- Sidebar heading end -->
                        </h5>

                        <!-- Sidebar information start -->
                        <div id="vinfo" class="collapse show" aria-labelledby="heading-vinfo">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Chassis ID: {{data.shortvin}}</label>
                                </div>
                                <div class="form-group">
                                    <label>ESN : {{data.engineserialno}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Engine Family : {{data.enginefamilyname}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Model Year : {{data.enginemodelyear}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Breakdown of Engine Configuration :
                                        {{data.breakdownengineconfiguration}}</label>
                                </div>
                                <div class="form-group">
                                    <label>HP Rating : {{data.hprating}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Truck Model : {{data.truckmodel}}</label>
                                </div>

                                <div class="form-group">
                                    <label>Current Software Level : {{data.currentsoftwarelevel}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Last Software Level : {{data.lastsoftwarelevel}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Transmission Configuration: {{data.transmissionconfiguration}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Mileage : {{data.currentmileage}}</label>
                                </div>
                                <div class="form-group">
                                    <label>After Treatment Software Level : {{data.aftertreatmentsoftwarelevel}}</label>
                                </div>
                                <div class="form-group">
                                    <label>Rear Axle Ratio : {{data.rearaxleratio}}</label>
                                </div>
                            </div>
                        <!-- Sidebar information end -->
                        </div>
                    <!-- card end -->
                    </div>
                <!-- col-lg-12 end -->
                </div>
            <!-- row end -->
            </div>
        </li>
    <!-- Sidebar end -->
    </ul>

     <!-- content-wrapper start -->
    <div id="content-wrapper">
        <!-- container-fluid start -->
        <div class="container-fluid">
            {% block content %}
            Body Content
            {% endblock %}
        <!-- container-fluid end -->
        </div>

        <!-- Footer start -->
        <footer>
            <div class="copyright text-center my-auto font-weight-bold">
                <span>Copyright © Paccar Technical Center {% now 'Y' %}</span>
            </div>
        <!-- Footer end -->
        </footer>

    <!-- content-wrapper end -->
    </div>
<!--  wrapper end -->
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin.min.js' %}"></script>
<!-- Common.js-->
<script src="{% static 'js/common.js' %}"></script>

<!-- Body end -->
</body>
<!-- HTML end -->
</html>
